

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    

    

    .new-badge {
        transform: translateX(12rem) translateY(5rem);
        /* animation: move-y 1.5s infinite alternate ease-in-out; */
    }

    @keyframes move-y {
        from {
        transform: translateX(12rem) translateY(5rem);
        }
        to {
        transform: translateX(12rem) translateY(5.2rem);
        }

    }

    .staff-pick {
        transform: translateX(8rem) translateY(4rem) rotate(0);
    }

    .seasonal-special {
        transform: translateX(9rem) translateY(4rem) rotate(0);
    }

    
}




@media only screen and (max-width: 1200px) {

    .btn-container:hover {
        width: 24rem;
    }





    .featured-bottom-left-half {
        flex-direction: column;
        padding-top: 4rem;
    }

    .gingerbread-description {
        /* margin-top: 3rem; */
    }

    .peppermint-matcha-latte {
        margin-bottom: 5rem;
        transform: translateX(0rem);
    }


    .peppermint-matcha-latte-description {
        /* margin-top: 2rem; */
    }

    .gingerbread-person-cookie-description-inner {
        margin-left: 5rem;
        margin-top: 1rem;
    }

    .cardomom-latte {
        transform: translateX(0rem);
    }

    .featured-half-right {
        overflow: visible;
    }

    .featured-half-right img {
        margin-top: 12rem;
        overflow: visible;
        transform: translateX(-5rem);
    }

    .featured-section {
        background-position: 30% 50%;
    }

    .fixed-background-image img {
        object-position: 55% 100%;
    }

    .transparent-window-2 {
        height: 70rem;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

    .top-logo {
        /* padding-right: 4rem;
        padding-left: 4rem; */
    }

    .btn-container{
        
    }

    .btn-container:hover {
        width: 23rem;
        margin-left: 2rem;
    }


    body:has(.btn-container:hover) .top-logo{
        padding-right: 3.5rem;
        padding-left: 3.5rem;
    }
    body:has(.btn-container:hover) .hours-container{
        padding-right: 0;
    }

    .btn-container-mobile:hover {
        margin-left: 0;
    }

    /* .button-wrap i {
        padding-left: 1rem;
    } */

    .copyLogo {
        padding-left: 1rem;
    }

    

    .header-option{
        font-size: 1.7rem;
        /* transform: translateY(.4rem); */
    }

    .header-instagram {
        font-size: 1.8rem;
        /* transform: translateY(.4rem); */
    }

   

    .featured-item-description {
        font-size: 2.1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .photo-description {
        font-size: 2.5rem;
    }

    .hours-container {
        width: 5rem;
        
    }

    .todays-hour {
        display: none;
    }

    .footer-box {
        /* padding: 5rem 5rem; */
        padding-left: 7.5rem;
    }

    .contact-button-header {
        width: 6rem;
        font-size: 1.2rem;
    }



    


    .featured-item-image img {
        height: 24rem;
        width: 24rem;
    }

    .featured-item-image img:hover {
        /* width: 26rem; */

        height: 24rem;
        width: 24rem;

        /* object-position: -105px 0px; */
    }


    .location-description {
        padding: 3rem 6rem;
    }

    

    

    .winter-menu-title {
        font-size: 1.3rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .exception-1 {
        font-size: 1.25rem;
        padding-left: 1rem;
        padding-right: 0;
    }

    .featured-section {

    }

    .featured-section-christmas {
        background-size: cover;
        background-position: 20% 50%;

        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0)), url('/christmas-media-query.png');

    }

    .gingerbread-person-cookie-description-inner {
        margin-left: 0rem;
    }

    


    




    /* .p-d-inner {
        font-size: 1.rem;
    } */





}


/* minor viewport width */
@media only screen and (max-width: 800px) {
    .hours-container {
        padding-right: 0rem;
    }

    .header-options {
        padding-right: 1.5rem;
    }

    .top-logo {
        padding: 1.5rem 4rem 1.5rem 4rem;
    }
}






/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .btn-container{
        display: none;
    }

    .btn-container-mobile {
        display: block;
    }

    

    .header-option{
        display: none;
    }
    .header-options a{
        display: none;
    }

    .contact-button-header{
        display: none;
    }

    

    .header-menu-bar {
        display: inline-block;
    }

    .featured-item-image img {
        height: 22rem;
        width: 22rem;
    }

    .featured-item-image img:hover {
        /* width: 26rem; */

        height: 22rem;
        width: 22rem;

        /* object-position: -105px 0px; */
    }


    .new-badge {
        transform: translateX(6.5rem) translateY(5rem);
        /* animation: move-y 1.5s infinite alternate ease-in-out; */
    }

    @keyframes move-y {
        from {
        transform: translateX(6.5rem) translateY(5rem);
        }
        to {
        transform: translateX(6.5rem) translateY(5.2rem);
        }

    }

    .staff-pick {
        transform: translateX(4rem) translateY(4rem) rotate(0);
    }


    .gift-card-img {
        /* height: 70%; */
        width: 80%;
        height: auto;
    }

    .gift-card-img:hover {
        /* height: 75%; */
        width: 85%;
        height: auto;
    }

    

    /* @keyframes move-y {
        from {
        transform: translateX(10rem) translateY(5rem);
        }
        to {
        transform: translateX(10rem) translateY(5.2rem);
        }

    } */


    .location-description {
        padding: 3rem 5rem;
    }

    .map-description {
        /* padding: 1rem 4rem; */
    }

    .footer-container {
        /* align-items: center; */

        align-items: flex-start;
        /* flex-direction: column; */
        padding-top: 2rem;
    }

    .footer-box {
        padding-top: 3rem;
        padding-bottom: 0rem;
        /* width: 100%; */
        /* padding: 5rem 10rem; */
        /* padding-bottom: 1rem; */
    }

    .footer-itemhead{
        
        /* display: flex;
        width: 100%;
        justify-content: center;
        align-items: center; */
    }

    .footer-instargam {
        text-align: inherit;
    }

    .copyright {
        margin-top: 5rem;
    }

    

    .gingerbread-person-cookie-description-inner {
        margin-left: -3rem;
        /* margin-right: 1rem; */
    }

    .winter-menu-title {
        /* font-size: 1.3rem; */

        /* padding: 0rem 1rem; */

        /* padding-left: 0rem;
        padding-right: 0rem; */

        /* padding-top: 0; */

    }

    .footer-box {
        padding-left: 4rem;
    }

    .transparent-window-2 {
        height: 35rem;
    }

    .gift-card-title {
        padding-left: 7rem;
        padding-right: 3rem;
    }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

    .left-top {
        /* flex-direction: row-reverse; */
    }

    .top-logo {
        padding: 1.5rem 4rem;
    }

    .hours-container {
        width: 4rem;
        
    }


    .featured-container {
        flex-direction: column;
    }

    .featured-item {
        width: 100%;
        
        
    }

    .new-badge {
        transform: translateX(16rem) translateY(5rem);
        /* animation: move-y 1.5s infinite alternate ease-in-out; */
    }

    @keyframes move-y {
        from {
        transform: translateX(15rem) translateY(6rem);
        }
        to {
        transform: translateX(15rem) translateY(6.2rem);
        }

    }

    .staff-pick {
        transform: translateX(17rem) translateY(3rem) rotate(0);
    }

    /* @keyframes move-y {
        from {
        transform: translateX(17rem) translateY(2rem);
        }
        to {
        transform: translateX(17rem) translateY(2rem);
        } */

    /* } */


    .gift-card-section {
        flex-direction: column;
        /* padding: 10rem 0; */
    }

    .gift-card-section {
        height: auto;
    }

    .gift-card-flex-half {
        width: 100%;
        
    }

    .gift-card-title {
        padding-top: 10rem;
        padding-bottom: 7rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

    .gift-card-img {
        width: 70%;
        height: auto;
        margin-bottom: 5rem;
    }
    .gift-card-img:hover {
        width: 75%;
    }

    .seasonal-special {
        transform: translateX(18rem) translateY(4rem) rotate(0);
    } 

    .featured-item-image img {
        width: 30rem;
        height: 30rem;
    }
    .featured-item-image img:hover {
        width: 30rem;
        height: 30rem;
    }



    .bestseller-photos {
        flex-direction: column;
    }
    .beseseller-photos-half {
        width: 100%;
    }



    .menu-flex {
        flex-direction: column;
    }

    .menu-half {
        width: 100%;
    }

    .menu-one-third {
        width: 100%;
    }











    .order-online-section {
        flex-direction: column;
        height: auto;
    }

    .order-title {
        width: 100%;
        padding-top: 5rem;
    }

    .order-button-container {
        width: 100%;

        padding:5rem 0;
    }


    .location {
        flex-direction: column-reverse;
        height: auto;
        
    }

    .map-details {
        width: 100%;
        padding-bottom: 10rem;
    }

    .google-map {
        width: 100%;
    }

    .story-flex {
        flex-direction: column;

    }

    .story-photo {
        width: 100%;
    }

    .story-description {
        padding-top: 8rem;
        width: 100%;
    }

    .todays-hour {
        /* font-size: .5rem; */
        /* width: 9rem; */
        display: none;
    }

    .featured-flex-half {
        flex-direction: column;
    }

    .featured-half-left {
        width: 100%;
    }

    .featured-half-right {
        width: 100%;
    }

    .gingerbread-person-cookie-description {
        display: flex;
        justify-content: center;
    }

    .gingerbread-person-cookie-description-inner {
        margin-left: 0;
    }

    

    .featured-half-right img {
        margin-top: 0rem;
        transform: translateX(0);
        padding-top: 2rem;
    }

    .peppermint-matcha-latte-description {
        margin-top: 3rem;
    }

    .winter-seasonal-menu {
        flex-direction: column;
    }

    .winter-menu-one-third {
        width: 100%;
    }

    .winter-menu-title {
        font-size: 1.7rem;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 2rem;
    }

    .exception-1 {
        font-size: 1.7rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .featured-section {
        background-position: 17% 50%;
    }

    footer {
        background-color: rgb(248, 248, 248);
    }



    .footer-container {
        flex-direction: column;
    }

    .footer-box {
        /* width: 100%; */
        /* text-align: center; */
        /* flex-direction: column; */
    }

    .footer-item-head {
        /* width: 100%; */

    }

    .fixed-background-image img {
        object-position: 70% 100%;
    }

    .transparent-window-2 {
        /* height: 0rem; */
        display: none;
    }


    
}


@media only screen and (max-width: 431px) {
    .new-badge {
        transform: translateX(10rem) translateY(5rem);
        /* animation: move-y 1.5s infinite alternate ease-in-out; */
    }

    @keyframes move-y {
        from {
        transform: translateX(10rem) translateY(6rem);
        }
        to {
        transform: translateX(10rem) translateY(6.2rem);
        }

    }


    .staff-pick {
        transform: translateX(8rem) translateY(3rem) rotate(0);
    }

    .seasonal-special {
        transform: translateX(9rem) translateY(3rem) rotate(0);
    }

    .featured-half-right {

    }

    .featured-half-right img{
        width: 100%;
        transform: scale(.9);
        overflow: visible;
    }

    .gift-card-img {
        width: 80%;

    }
    .gift-card-img:hover {
        width: 85%;
    }

    /* .featured-section {
        background-position: 17% 50%;
    } */
}

